<ion-view view-title="Book">
	<ion-content ng-controller="BookCtrl">
		<article>
			<section class="titleSection">
				<img src="https://dl.dropboxusercontent.com/u/47510080/zestlifia/logbook/cordova2/Screen%20Shot%202015-12-10%20at%2011.47.21%20AM.png">
				<div>
					<h1>Find the way to access android native API in Ionic</h1>
					<h4>ngCordova</h4>
				</div>
			</section>
			</br>
			<section class="contentSection">
				<h3>In the last article - Install Android Studio, we set up the development enviroment. and we know that we can access android API by Cordova. But how?</h3>
			</section>


	</ion-content>
</ion-view>