<ion-view view-title="Logbooks">
	<ion-content ng-controller="LogbookCtrl" class="padding">
		<!-- Daily / Command / Language -->
		<ion-list>
			<ion-item class="item-thumbnail-left" ng-repeat="book in books track by book.id" href="#/book/{{book.id}}">
			    <img ng-src="{{book.thumbnail}}" ng-if="book.thumbnail.indexOf('http') === 0">
			    <h2 class="book-title">{{book.title}}</h2>
			    <p>
			      <span>2015-12-08</span> - {{book.domain}}
			    </p>
			</ion-item>
		</ion-list>
<!--		
<div class="list">
  <a class= "item item-thumbnail-left" ng-click="openLink(books.url)" ng-repeat="book in books track by book.id">
    <img ng-src="{{book.thumbnail}}" ng-if="book.thumbnail.indexOf('http') === 0">
    <h2 class="book-title">{{book.title}}</h2>
    <p>
      <span am-time-ago="book.created_utc" am-preprocess="unix"></span> - {{book.domain}}
    </p>
  </a>
</div>
-->
	</ion-content>
</ion-view>