// _variables.scss
// =================
// zestlifia
// $bgColor: rgb(23, 29, 37);
$bgColor: #11161C;
$majorColor: #00ebd4;
// override ionic
// view content
$dark:							  $bgColor !default;
$base-background-color:           $bgColor !default;
$base-color:                      #00ebd4 !default;
// bar button - stable
$stable:						  $dark !default;
$button-stable-bg:                $stable !default;
$button-stable-text:              $base-color !default;
$button-stable-border:            $dark !default;
$button-stable-active-bg:         #e5e5e5 !default;
$button-stable-active-border:     #a2a2a2 !default;

// home-typing
@import url(https://fonts.googleapis.com/css?family=Megrim);
$typingFont: "Megrim";



// override bar-header title with titlePulse
.bar-header .title {
   color: $majorColor;
   font-size: 30px !important;
   //font-weight: 1000 !important;
   font-family: $typingFont;

   animation: titlePulse .9s infinite;
}
// override side-menu
ion-side-menu {
  ion-content {
    background-color: lighten($bgColor, 1%);
  
  }
  .item {
    background-color: lighten($bgColor, 1%) !important ;
    background-color: $bgColor;

    border-color: rgb(44, 44, 44) !important ;

    .item-content {
      background-color: lighten($bgColor, 1%) !important ;
      color: $majorColor;
      font-family: $typingFont;
      animation: titlePulse .9s infinite;
         
      &:hover {
        border-bottom-width: 1px!important ;
        border-bottom-style: solid!important ;
      }
    }
  }
}

@keyframes titlePulse {
   0% {
    opacity: 0.8;
  }
   50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
