$jke-ecgChart-axisColor: rgb(23, 29, 37);

$jke-ecgChart-backgroundColor: rgb(23, 29, 37);

$jke-ecgChart-xGridColor: rgb(23, 29, 37);
$jke-ecgChart-yGridColor: rgb(23, 29, 37);

$jke-ecgChart-lineColor: #00ebd4 ;

.jke-ecgChart {
	margin-left: -15px;
}

@import "../scss/src/jke-d3-ecg";