// browse cards
.zestCard {
  h2  {
    color: rgb(57, 111, 135);
  }
  ion-item {
    border:none;
    margin-top:20px;
  }
  .item-complex .item-content {
    background-color: lighten($bgColor, 10%);
   // min-height: 200px;
  }
  .zestCardLine {
    position:absolute;
    top:0;
    left:0;
    background-color:#00ebd4;
    width: 100%; 
    height:5px;
  }
}

// articles
article {
  h1, h2, h3, h4, h5, p, span ,ul ,li {
    color: white;
  }
  ul {
    padding-left: 20px;
    li {
      list-style: disc ;
    }
  }

}
.titleSection {
  position:relatvie; 
  // border: 1px solid; 
  div {
    position:absolute; 
    left:0 ; 
    right:0; 
    top:100px;
    margin: 0 auto; 
    width: 75%;
    text-align: center;
  }
  img {
    opacity: 0.5 ;
    width: 100% ;
  }
}
.contentSection {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 767px) {
  .contentSection {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
figure {
  img {
    width: 100% ;
  }
}
blockquote{
  display:block;
  // background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid $majorColor ;
  border-right: 2px solid $majorColor ;
  
  /*Box Shadow - (Optional)*/
  // -moz-box-shadow: 2px 2px 15px #ccc;
  // -webkit-box-shadow: 2px 2px 15px #ccc;
  // box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  color: $majorColor;
  font-style: italic;
}