<ion-view view-title="Notes">
	<ion-content ng-controller="LogbookCtrl" class="padding">
		<ion-list>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/shard/s304/sh/bf6f8535-4777-429f-a4d8-45e045386da7/67936c0a2c28f532">Digtial Ocean</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATDEttL29F5AxbeUNp1ZTkk_K5KpVEocq70">Up and Running AnuglarJS with Ray Villalobos</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATAL2Rgu3tZLA7LH98ufzcvisWivbdS9yC8">Up and Running React.js</a>
			</ion-item>
			
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATAR_c_WSAZL5Kcaw4TrGB66OP2v8PpMUDo">React.js Thinking</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBbRbrGJ_tFDYIuf4uKGqpfri9uGeJAsx4">Browserify</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATAm0i6_AtFH15xX80Ya5OggUXjc5Vl2Nog">Angular in IntelliJ</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATCyWX-S49FDNKMYsVkzZ3SSzFB1LQyXAL8">Gulp</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATCRxZmEOEpBaKkw7rL0B44LQTjFzjvlWwQ">Ionic sidemenu & tabs together</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATDWCuOMw7RF64owa3QWQGhw0STE5RA2QSY">Ionic selector</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATDWCuOMw7RF64owa3QWQGhw0STE5RA2QSY">Ionic selector</a>
			</ion-item>">Start/Build Vaadin</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATDWCuOMw7RF64owa3QWQGhw0STE5RA2QSY">Ionic selector</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBBmQK3JAhFQ4tXlQ7p5OS7t5sJXL4oXuo">Vaadin GAE Settings</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBBmQK3JAhFQ4tXlQ7p5OS7t5sJXL4oXuo">Vaadin GAE Settings</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATA2kdIchYJAxIq4d9wODYZgHE7fOVEN3hA">Vaadin deploy GAE Success</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBJvbQP0YlLwIYgaofBdIkGEIg2XyVmL8k">MTK git</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATCQkE0mBuJOUIeo9lWfP3Vz17WwvuYswi0">Start D3.js</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATDcyuLbvqZNI5TtX1Kdex5yGMx3xG9eX3I">SonarQube</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBZKdi0ZD5C8J6a15naozRJBnE_3GZTPSs">LeanDev Home</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATBZKdi0ZD5C8J6a15naozRJBnE_3GZTPSs">CRM(Customer Resource System) - backbone, underscore, 2015-12-28</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATCBl4Bk_uNPkJsB5P6D7zD7RxlIqjozYHo">CRM - Workflow 2015-12-29</a>
			</ion-item>
			<ion-item>
				<a target="_blank" href="https://www.evernote.com/l/ATCBl4Bk_uNPkJsB5P6D7zD7RxlIqjozYHo">CRM - bootstrap, require.js backbone.js thinking 2015-12-30</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>